.bg-red {
    text-align: center;
    font-size: large;
  }

  .btn-primary {
    background-color: #6f42c1 !important;
    border-color: black;
    }
    .form-horizontals{
      display:block;
      width:50%;
      margin:0 auto;
  }


  .bg-red2 {
    background-color: #6f42c1 !important;
  }