/* .bg-red {
    text-align: center;
    font-size: large;
  } */

  @media (max-width: 767px) {
    .bg-red {
      background-color: #931cf5;
      font-size: small;
    }
  } 

  .alert.alert-danger {
    background-color: #931cf5;
    color: #fff; /* Set the text color to white for contrast */
  }
  .alert.alert-danger a.alert-link {
    color: #fff; /* Set the link color to white for contrast */
  }

  .alert-danger {

    border-color: #931cf5;
}

.fa-lg {
  font-size: 1.5em; /* Change the value to adjust the size */
}
