
    <!-- Sidebar -->
    <div id="sidebarMenu" class="collapse d-block sidebar collapse ">
        <div class="position-sticky">
          <div class="list-group list-group-flush mx-3 mt-4">
           
                <div class="profile-photo mt-4">
                    
                  <img src="../../assets/img/User_Placeholder.png" alt="Profile Photo" class="profile-photo-img">
                  
                </div>
                
                <h5 class="my-h5">User Name</h5> 
     
        
              <a href="#" class="list-group-item list-group-item-action py-2 ripple">
                <i class="fas fa-user fa-fw me-3"></i><span>User Name</span>
              </a>
              <a href="#" class="list-group-item list-group-item-action py-2 ripple">
                <i class="fas fa-envelope fa-fw me-3"></i><span>Email</span>
              </a>
              <a href="#" class="list-group-item list-group-item-action py-2 ripple">
                <i class="fas fa-lock fa-fw me-3"></i><span>Password</span>
              </a>
           
          </div>
        </div>
      </div>
    <!-- Sidebar -->
  


<!--Main layout-->

  <!--Main layout-->